$linkColor:#fff;
$facebook : #3a5795;
.btn {
    a {
        color:  $linkColor;
        text-decoration: none;
        }
}

.form-login{
    .btn-info{
        border-color: $facebook;
        color: $linkColor;
        background-color: $facebook;
    }
    .btn{
        padding: 6px;
    }
}
.co-topic{
	h4{
		margin-top: 0px;
		text-decoration: underline;
	}
	border: 1px solid;
	padding: 20px;

}
.profile{
	img{
		height: 50px;
	}
	small{
		position: relative;
		top: 20px;
		.fa{
			font-size: 18px;
			cursor: pointer;
		}
	}
    span{
        top: 18px;
        position: relative;
    }
}
.b-topic{
	a{
		color: #999;
		text-decoration:none;
	}
}
.cate-topic{
	a{
		color: #999;
		text-decoration: none;
	}
	padding-top: 15px;
}
.like{
	color: #217dbb;
}
.article{
	padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body{
	background-color: #f3f3f3;
}

h1,h2,h3,h4,h5,h6{
	color: #333;
	font-family: ThaiSans_Bold;
}
.margin-t20{
    margin-top: 20px;
}
.share{
    font-size: 21px;
}
.share-bar {
    i,span{
        top: -2.5px;
        position: relative;
    }
	padding-left: 0px;
}
@media (max-width: 768px){
    .share-bar {
        padding-left: 15px;
        padding-top: 15px;
    }
  
}
// .share-bar >small >i{
// 	padding: 12px 5px 0px 15px;
// }
.commented{
	border: 1px solid #999;
    padding: 15px;
    margin-top: 30px;
}
.arrow-up:before{
	border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #999;
    /* border-right-color: rgba(169, 169, 169, 0); */
    left: 15px;
    top: -31px;
    position: relative;
}

.bg-white{
	background-color: #fff;
    min-height: 15  0px;
}
.bg-gray{
    background-color: #eee;
    min-height: 300px;
}

.content-cate{
	padding-bottom: 30px;
}
.desc-content{
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: 60px;
  	line-height: 1.48em;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
    .content-cate h4{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
footer{
	background-color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
}
.link{
    border: 1px solid #999;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding-top: 11px;
    text-align: center;
    color: #999;
}
.link:hover, .link:active, .link:focus{
    background-color: #999;
    color: #444444;  
}
.contact{
    padding-top: 15px;
}
.link-ads, .link-ads:hover{
    i{
        font-size: 7px;
        top: -3px;
        margin-right: 10px;
        position: relative;
    }
    font-family: ThaiSans_Lite;
    font-size: 18px;
    color: #999;
    text-decoration: none;
}
.close-login{
	position: absolute;
    float: right;
    right: -5px;
    top: -5px;
    cursor: pointer;
}
.close-login .badge{
	background-color: #444;
	padding: 4px 7px;
	border: 1px solid #fff;
}
.read-more{
	font-size: 80%;
	padding: 3px 8px;
	// margin-top: 5px;
    border-radius: 0px;
}
.more-stories{
    border-radius: 0px;
}
.tab-content{
    border: 1px solid #444;
    margin-bottom: 20px;
}
.tab-pane{
    padding: 20px;
}
table th{
    font-family: ThaiSans_Bold;
    color: #444;
    font-size: 22px;
}
table td{
    font-family: ThaiSans_Bold;
    font-size: 16px;
}
.h-topic{
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: ThaiSans_Bold;
    font-size: 20px;
    color: #444;
}
.c-topic{
    font-family: ThaiSans_Lite;
    font-size: 18px;
    padding-left: 20px;
    display: -webkit-box;
    height: 42px;
    line-height: 1.3em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.f-topic{
    display: inline-block;
    font-family: ThaiSans_Lite;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
}
.b-topic{
    padding: 0 35px;
}
.b-topic hr{
    border-color: #999;
}
#sizing-addon2{
    height: 28px;
}
.wellcome{
    font-family: ThaiSans_Lite;
    font-size: 20px;
}
.inline-block{
    display: inline-block;
}
h3.inline-block{
    width:calc(100% - 115px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
form{
	a{
		color: #008cba;
	}
	.input-group-addon{
		min-width: 40px;
	}
}
.btn-comment{
    margin-top: 15px;
    float: right;
}
